@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "VT323", monospace;
}

html,
body {
  margin: 0;
}

:root {
  font-size: 10px;
}

#container_layout {
  max-width: 1440px;
  margin: auto;
}

#container_layout h1 {
  font-size: 9.6rem;
  text-align: center;
  line-height: 2rem;
  font-weight: normal;
}

#container_layout h2 {
  font-size: 6.4rem;
  text-align: center;
  line-height: 2rem;
  font-weight: normal;
}

#container_layout h3 {
  font-size: 4.8rem;
  text-align: center;
  line-height: 2rem;
  font-weight: normal;
}

#container_layout p {
  font-style: normal;
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: -1px;
}

#container_layout header#header {
  padding: 1rem 9.2rem;
}

@media (max-width: 600px) {
  #container_layout header#header {
    padding: 1rem;
  }
}

#container_layout header#header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container_layout header#header .left_box a:nth-child(1) {
  margin-right: 3.4rem;
}

#container_layout header#header .right_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_layout header#header .right_box .anchor_bg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 12.5rem;
  height: 5.6rem;
  background: url("./assets/img/wh_btn.svg") no-repeat center/cover;
  text-align: center;
  font-size: 24px;
  color: #fff;
  line-height: 2rem;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
}

#container_layout header#header .right_box .anchor_bg:nth-child(1) {
  margin-right: 2.1rem;
}

#container_layout header#header .logo_wrapper {
  text-align: center;
}

#container_layout header#header .logo_wrapper img {
  display: inline-block;
  width: 20.4rem;
  height: 20.4rem;
  margin-top: -3.4rem;
}

#container_layout #Whitepaper {
  margin-top: 5.9rem;
}

#container_layout #Whitepaper .content_wrapper {
  margin-top: 3.1rem;
}

#container_layout #Whitepaper .content_wrapper .rarity {
  margin-bottom: 0px;
}

#container_layout #Whitepaper .content_wrapper .content_sizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(100% - 23.5rem);
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container_layout #Whitepaper .content_wrapper .content_sizer h3 {
  max-width: 4.8rem;
  text-align: center;
}

#container_layout #Whitepaper .content_wrapper .content_sizer_sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(100% - 33.6rem);
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container_layout #Whitepaper .content_wrapper .content_sizer_sm h3 {
  max-width: 4.8rem;
  text-align: center;
}

#container_layout #RoadMap .roadMap_lineWrapper .road_line_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: calc(100% - 17.1rem);
  margin: auto;
}

#container_layout #RoadMap .roadMap_lineWrapper .road_line_1 .line {
  width: 31.8rem;
  height: 33.3rem;
  background: #000;
  background: url("./assets/img/line_1.png") left/contain no-repeat;
}

#container_layout #RoadMap .roadMap_lineWrapper .road_line_1 .line_text {
  width: 41.4rem;
}

#container_layout #RoadMap .roadMap_lineWrapper .road_line_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: calc(100% - 16rem);
  margin: auto;
}

#container_layout #RoadMap .roadMap_lineWrapper .road_line_2 .line_text {
  width: 41.4rem;
}

#container_layout #RoadMap .roadMap_lineWrapper .road_line_2 .line {
  width: 31.8rem;
  height: 33.3rem;
  background: #000;
  background: url("./assets/img/line_2.png") left/contain no-repeat;
}
/*# sourceMappingURL=App.css.map */