@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
  font-family: "VT323", monospace;
}
html,
body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
:root {
  font-size: 10px;
  @media (max-width: 800px) {
    font-size: 8px;
    @media (max-width: 600px) {
      font-size: 5px;
      @media (max-width: 400px) {
        font-size: 4px;
      }
    }
  }
}
.d-none {
  display: none;
}
@media (min-width: 572px) {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
}

#container_layout {
  max-width: 1440px;
  position: relative;

  // default style
  h1 {
    font-size: 9.6rem;
    text-align: center;
    line-height: 2rem;
    font-weight: normal;
  }
  h2 {
    font-size: 6.4rem;
    text-align: center;
    line-height: 2rem;
    font-weight: normal;
  }
  h3 {
    font-size: 4.8rem;
    text-align: center;
    line-height: 2rem;
    font-weight: normal;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 3.6rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: -1px;
  }

  margin: auto;
  header#header {
    padding: 1rem 9.2rem;
    @media (max-width: 600px) {
      padding: 1rem;
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .left_box {
      a:nth-child(1) {
        margin-right: 3.4rem;
      }
    }
    .right_box {
      display: flex;
      align-items: center;
      .anchor_bg {
        display: inline-flex;
        width: 125px;
        height: 56px;
        background: url("./assets/img/wh_btn.svg") no-repeat center/cover;
        text-align: center;
        font-size: 24px;
        color: #fff;
        line-height: 2rem;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        margin-right: 2.1rem;
        @media (max-width: 600px) {
          width: 8rem;
          height: 3.3rem;
          width: 80px;
          height: 33px;
          font-size: 12px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
    .logo_wrapper {
      text-align: center;
      img {
        display: inline-block;
        width: 20.4rem;
        height: 20.4rem;
        margin-top: -3.4rem;
        @media (max-width: 900px) {
          margin-top: 0rem;
        }
        @media (max-width: 600px) {
          width: 99px;
          height: 99px;
        }
      }
    }
  }
  #Whitepaper {
    margin-top: 5.9rem;

    .content_wrapper {
      margin-top: 3.1rem;
      .rarity {
        margin-bottom: 0px;
      }
      .content_sizer {
        display: flex;
        max-width: calc(100% - 23.5rem);
        margin: auto;
        justify-content: space-between;

        h3 {
          max-width: 4.8rem;
          text-align: center;
        }
        @media (max-width: 950px) {
          max-width: 90%;
          flex-flow: row wrap;
        }
      }
      .content_sizer_sm {
        display: flex;
        max-width: calc(100% - 33.6rem);
        margin: auto;
        justify-content: space-between;
        h3 {
          max-width: 4.8rem;
          text-align: center;
        }
      }
    }
  }
  #RoadMap {
    @media (max-width: 1100px) {
      zoom: 0.6;
    }
    .roadMap_lineWrapper {
      position: relative;
      text-align: center;
      $line_w: 33.3rem;
      $line_h: 31.8rem;
      .road_line_1 {
        width: $line_w;
        height: $line_h;
        // border: solid;
        background: url("./assets/img/line_1.png") 0 0 / contain no-repeat;
        margin: auto;
        .road_circle {
          transform: translate(0, 0);
        }
      }
      .road_line_2 {
        width: $line_w;
        height: $line_h;
        // border: solid;
        background: url("./assets/img/line_2.png") right / contain no-repeat;
        margin: auto;
        transform: translate(-2.9rem, -3.3rem);
        .road_circle {
          transform: translate(3rem, 0);
        }
      }
      .road_line_3 {
        width: $line_w;
        height: $line_h;
        // border: solid;
        background: url("./assets/img/line_3.png") 0 0 / contain no-repeat;
        margin: auto;
        transform: translate(0.7rem, -6.5rem);
        .road_circle {
          transform: translate(-0.7rem, 0);
        }
      }
      .road_line_4 {
        width: $line_w;
        height: $line_h;
        // border: solid;
        background: url("./assets/img/line_4.png") right / contain no-repeat;
        margin: auto;
        transform: translate(-2.4rem, -9.7rem);
        .road_circle {
          transform: translate(2.3rem, 0);
        }
      }
      .road_line_5 {
        width: $line_w;
        height: $line_h;
        // border: solid;
        background: url("./assets/img/line_5.png") 0 0 / contain no-repeat;
        margin: auto;
        transform: translate(0.9rem, -12.9rem);
        .road_circle {
          transform: translate(-0.8rem, 0);
        }
      }
      [class*="road_line"] {
        display: flex;
        justify-content: center;
        align-items: center;
        .road_circle {
          width: 15.6rem;
          height: 16rem;
          border-radius: 50%;
          border: 1.4rem solid #000;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 6.4rem;
        }
      }
      .roadmap_content {
        [class*="content_item"] {
          max-width: 41.4rem;
          position: absolute;
          h2 {
            margin-bottom: 0px;
            padding-bottom: 0px;
            line-height: 4rem;
          }
        }
        .content_item_1 {
          top: 0;
          left: calc(50% + 33.3rem);
          transform: translateX(-50%);
        }
        .content_item_2 {
          top: 31.8rem;
          left: calc(50% - 33.3rem);
          transform: translateX(-50%);
        }
        .content_item_3 {
          top: calc(31.8rem * 2 - 1.5rem);
          left: calc(50% + 33.3rem);
          transform: translateX(-50%);
        }
        .content_item_4 {
          top: calc(31.8rem * 3);
          left: calc(50% - 18rem);
          transform: translateX(-50%);
        }
        .content_item_5 {
          top: calc(31.8rem * 4 - 3rem);
          left: calc(50% + 18rem);
          transform: translateX(-50%);
        }
      }
    }
  }
  #NoLogIn {
    pointer-events: none;

    p {
      font-size: 34px !important;
      max-width: 60rem;
      margin: auto;
    }
    @media (max-width: 1500px) {
      zoom: 0.8;
      @media (max-width: 1160px) {
        zoom: 0.6;
        font-size: 24px !important;
        p {
          max-width: 50rem;
        }
      }
    }
    .diamong_image_wrapper {
      .diamond_1 {
        position: absolute;
        height: 207.9rem;
        width: 126.3rem;
        top: -41rem;
        left: -35rem;
        border-radius: 0px;
        @media (max-width: 1160px) {
          top: -25rem;
        }
      }
      .steel_1 {
        position: absolute;
        height: 207.9rem;
        width: 126.3rem;
        top: -37.9rem;
        right: -35rem;
        border-radius: 0px;
        @media (max-width: 1160px) {
          top: -25rem;
          @media (max-width: 592px) {
            top: 35rem;
          }
        }
      }
      .diamond_1_copy{
        top: 120rem;
      }
      .shield_wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 49.5rem;
        height: 63.6rem;
        top: 43.6rem;
        background: url("./assets/img/SHIELD_RIGHT.png") center/100% 100%
          no-repeat;
        padding-left: 3.3rem;
        @media (max-width: 1160px) {
          top: 70rem;
        }
        h2 {
          margin-bottom: 3rem;
        }
        table {
          width: 100%;
          padding: 0px 3rem;
          tr {
            td {
              font-size: 3.6rem;
              line-height: 2rem;
              padding-bottom: 4.3rem;
            }
          }
        }
      }

      .btn_control {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        top: 125rem;
        @media (max-width: 1160px) {
          top: 150rem;
        }
        .btn_roadmap {
          width: 35.3rem;
          height: 15.8rem;
          pointer-events: visible;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 9.6rem;
          line-height: 2rem;
          display: inline-flex;
          text-decoration: none;
          color: #fff !important;
          background: url("./assets/img/roadmap_bg.png") center/100% 100%
            no-repeat;
          @media (max-width: 592px) {
            font-size: 5.4rem;
          }
        }
      }
      .btn_control_top {
        top: 52rem;
      }
    }
  }
  #LogInPage {
    .page_content {
      max-width: 60.7rem;
      margin: auto;
      p {
        font-size: 2.4rem;
      }
      .ul_list_wrapper {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        li {
          display: inline-block;
          width: 17.8rem;
          height: 8rem;
          position: relative;
          background: url("./assets/img/wh_btn_2.png") center/cover no-repeat;
          display: flex;
          justify-content: center;
          align-items: center;
          text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
          user-select: none;
          margin: 0px 2rem;
          p {
            font-size: 3.3rem;
            color: #fff;
            padding: 0;
            margin: 0;
          }
          &.btn_cost_action_list {
            color: #fff;
            flex-direction: column;
            .amount_control {
              font-size: 1.8rem;
              text-align: center;
              span {
                cursor: pointer;
              }
            }
            .cost_value {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
    .diamong_image_wrapper {
      pointer-events: none;
      @media (max-width: 1150px) {
        transform: scale(0.8);
        transform-origin: center -90rem;
      }
      // scale(.8)
      .diamond_1 {
        position: absolute;
        height: 207.9rem;
        width: 126.3rem;
        top: -41rem;
        left: -35rem;
        border-radius: 0px;
        background: url("./assets/img/diamond_2_log.png") 85% 89%/70% 76%
          no-repeat;
        @media (max-width: 1300px) {
          background: url("./assets/img/diamond_2_log.png") 58% 57%/61% 55%
            no-repeat;
        }
        &.diamond_1_copy{
          top: 65rem;
        }
      }
      .steel_1 {
        position: absolute;
        height: 207.9rem;
        width: 126.3rem;
        top: -41rem;
        right: -7.5rem;
        border-radius: 0px;
        //background: url("./assets/img/steel_1_log.png") 40% 50% /50% 50% no-repeat;
        background: url("./assets/img/steel_1_log.png") 85% 89%/70% 76%
          no-repeat;
        @media (max-width: 1300px) {
          background: url("./assets/img/steel_1_log.png") 95% 57%/61% 55%
            no-repeat;
          @media (max-width: 1050px) {
            top: 10rem;
          }
        }
      }
      .shield_wrapper {
        position: absolute;
        left: 26%;
        transform: translateX(-50%);
        width: 49.5rem;
        height: 63.6rem;
        top: 43.6rem;
        background: url("./assets/img/SHIELD_RIGHT.png") center/100% 100%
          no-repeat;

        padding-left: 3.3rem;
        @media (max-width: 1300px) {
          zoom: 0.7;
          top: 73.6rem;
          @media (max-width: 1050px) {
            left: 36%;
          }
        }
        h2 {
          margin-bottom: 3rem;
        }
        table {
          width: 100%;
          padding: 0px 3rem;
          tr {
            td {
              font-size: 3.6rem;
              line-height: 2rem;
              padding-bottom: 4.3rem;
            }
          }
        }
      }
      .shield_wrapper_2 {
        position: absolute;
        right: 9.87%;
        width: 49.5rem;
        height: 63.6rem;
        top: 43.6rem;
        background: url("./assets/img/shield_2.png") center/100% 100% no-repeat;
        color: #fff;
        padding-left: 3.3rem;
        @media (max-width: 1300px) {
          zoom: 0.7;
          top: 73.6rem;
          @media (max-width: 1050px) {
            top: 150.6rem;
            right: 29.87%;
          }
        }
        * {
          text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
        }
        h2 {
          margin-bottom: 3rem;
        }
        .content {
          font-size: 2.4rem;
          text-align: center;
          width: calc(100% - 15rem);
          margin: auto;
          .content_head {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 1rem;
            span:last-child {
              margin-right: 3.2rem;
            }
          }
        }
        .content_img_wrapper {
          .item {
            text-align: center;
            margin-top: 1rem;
            span {
              font-size: 2.4rem;
              display: block;
              margin-bottom: 2rem;
              text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
            }
            .img_container {
              background: white;
              max-width: 33.8rem;
              margin: auto;
              height: 7.9rem;
              flex: 1;
              display: flex;
              overflow-y: hidden;
              overflow-x: auto;
              padding: 0.5rem 1rem;
              .box {
                display: flex;
              }
              .img_item {
                min-height: 6.6rem;
                width: 4.2rem;
                display: inline-block;
                margin-right: 1.98rem;
                &:last-child {
                  margin-right: 0px;
                }
                img {
                  height: calc(6.6rem - 1rem);
                }
                span {
                  display: block;
                  font-size: 0.9rem;
                  width: 100%;
                  height: 0.9rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #c4c4c4;
                  color: black;
                }
              }
            }
          }
        }
      }
      .btn_control {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        top: 125rem;
        .btn_roadmap {
          width: 35.3rem;
          height: 15.8rem;
          pointer-events: visible;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 9.6rem;
          line-height: 2rem;
          display: inline-flex;
          text-decoration: none;
          color: #fff !important;
          background: url("./assets/img/roadmap_bg.png") center/100% 100%
            no-repeat;
        }
        @media (max-width: 1050px) {
          top: 165rem;
        }
      }
    }
  }
}
